.header{
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(0, 119, 255, 0.781)
}
.title{
    border:2px solid white;
    text-align: center;
    color: white;
    font-size: 3pc;
}
.mybtn{
    width: 10%;
    border-radius: 10px;
}
.btngroup{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.keyboard,.chance{
    width:100%;
    display: flex;
    justify-content: center;
}
.letterbtn{
    margin:5px;
    border-radius: 10px;
    width:50px;
    height: 50px;
}
.letter_hide{
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    margin: 10px;
}
.word{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.definition{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.deftext{
    align-self: center;
}
.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:2%;
}