.word{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.title{
    border:2px solid white;
    text-align: center;
    color: white;
    font-size: 2pc;
}
.mybtn{
    width: 100%;
    border-radius: 10px;
    margin:2px;
}
.header{
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(0, 119, 255, 0.781)
}
.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:2%;
}
.rank{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.rankrow{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(0, 119, 255, 0.781);
    border-radius: 10px;
}
.rankborder{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.rankdata{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(0, 119, 255, 0.781);
    border-radius: 10px;
}
.rankdata_green{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(17, 228, 52);
    border-radius: 10px;
}
.rankfront{
    border:1px solid white;
    text-align: center;
    color: white;
    font-size: 2vm;
    white-space: nowrap; 
    overflow: auto;
}
.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
